* {
    scroll-behavior: smooth;
}

html, body {
    margin: 0px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
    /* animation: colorChange 10s infinite alternate ease;
    background-image: linear-gradient(62deg, #6e7479 0%, #181719 100%);
  background-size: 200% 200%;  */
    
}
@keyframes colorChange {
    0% {
        background-position: 0% 0%; /* Start position */
      }
        50% {
            background-position: 100% 0%; /* End position */
        }
      100% {
        background-position: 100% 100%; /* End position */
      }
}

header{
    width:100%;
    background-color: rgb(198, 147, 123);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
}

nav {
    width: 50%;
  max-width: 18.75rem;
  height: 3.125rem;
}
nav>ul {
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav>ul>li {
    font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: #62230c;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: inline-block;
    text-decoration: none;

}
a {
    font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: inherit;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #e6e6fa;
}

.welcome-section {

    width: 100%;
    height: 100vh;
    padding-top: 6.25rem;
    place-items: center;
    background-color: #000; 
     background-image: linear-gradient(62deg, #858a90 0%, #181719 100%);
}

.projects-section {
    width: 100%;
    height: 100vh;
    padding-top: 6.25rem;
    padding-bottom: 2.275rem;
    /* background-color: #1f378b;
    background-image: linear-gradient(62deg, #858a90 0%, #181719 100%); */
    animation: colorChange 10s infinite alternate ease;
    background-image: linear-gradient(62deg, #6e7479 0%, #181719 100%);
  background-size: 200% 200%; 
    /* overflow: hidden; Ensure content doesn't overflow */
    /* position: relative;  */
}
@keyframes colorChange {
    0% {
        background-position: 0% 0%; /* Start position */
      }
        50% {
            background-position: 100% 0%; /* End position */
        }
      100% {
        background-position: 100% 100%; /* End position */
      }
}

.contact-section {
    width: 100%;
    height: 100vh;
    background: grey;
    padding-top: 6.25rem;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h2{
    font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    padding-bottom: 1.325rem;
    color: #cdcdd3;
    /* text-decoration: underline; */
}
#project{
    width: 100%;
    max-width: 87.5rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  column-gap: 1.625rem;
  row-gap: 1.625rem;
  margin: 0 auto;
  padding-left: 0rem;
}

#project>a {
    width: 100%;
    height: 15rem;
    max-width: 21.875rem;
    background-color: #dfdfe2;
    /* display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;*/
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  border-radius: 0.625rem;
  background-image: url('./images/rps.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  /* background-image: linear-gradient(62deg, #ffffff 0%, #181719 100%); */

  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: rgb(242, 234, 234);
}

#project>a:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button{
    display: block;
    margin: 2.813rem auto;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button:hover{
    background-color: rgb(203, 162, 144);
    color: #000;
}
#back{
    display: none;
}

.project-more
{
    /* height: auto; */
    /* height:calc(100vh + 6.25rem); */
    padding-top: 1.25rem;
    padding-bottom: 5rem;
}

.contact-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(6.25rem, 1fr));
    grid-gap: 0.625rem;
}
.contact-grid>div>img{
    width:12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    border: 0.5rem solid rgb(205, 158, 137);
}
.photo:nth-child(1){
    text-align: right;
    padding:0.675rem;
}
.info:nth-child(2){
    text-align: left;
    padding:1.675rem 0.675rem;
    color: #cdcdd3;
    margin: auto 0;
}
.contact-links{
    font-size: 1.25rem;
    padding-top: 2.75rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(6.25rem, 1fr));
    grid-gap: 0.625rem;
}
.contact-links>a{
    text-align: center;
    padding: 0.675rem;
    color: #cdcdd3;
}
.contact-links>a:nth-child(1){
    text-align: right;
    padding:0.675rem;
}
.contact-links>a:nth-child(2){
    text-align: left;
    padding:0.675rem;
}
.contact-links>a:hover{
    transform: translateY(0.1255rem);
    cursor: pointer;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(1, minmax(6.25rem, 1fr));
    grid-gap: 0.625rem;
    margin: auto;
    text-align: center; 
}
.intro>p{
    text-align: center;
    padding: 1.25rem;
    color: #cdcdd3;
    font-size:xx-large;
    margin-bottom: 0;
    margin-top: 3.275rem;
}
.info-grid{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 0.625rem;
}
.info-grid>p:nth-child(1){
    text-align: right;
    padding: 0.675rem;
    color: #cdcdd3;
    font-style: italic;
}
.info-grid>p:nth-child(2){
    text-align: center;
    padding: 0.675rem 8.975rem 0.675rem 0.675rem;
    color: #cdcdd3;
    font-style: italic;
}

@media only screen and (min-width: 768px) {
    nav{
        height: 3.775rem;
    }
    .welcome-section {
        height: 100vh;
    }
    .projects-section {
        height:calc(100vh);
    }
    .contact-section {
        height: 100vh;
    }
    #project>a {
        height: 13.125rem;
        /* margin: 0 10px; */
    }
    #project
    {
        width: 75%;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 767px) {
    nav{
        height: 3.375rem;
        font-size: small;
    }
    .welcome-section {
        height: 100vh;
    }
    .projects-section {
        height:calc(100vh + 13.75rem);
    }
    .contact-section {
        height:calc(100vh + 5.75rem);
    }
    #project>a {
        height: 13.125rem;
        /* margin: 0 10px; */
    }
    #project
    {
        width: 75%;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-grid{
        grid-template-columns: repeat(1, minmax(6.25rem, 1fr));
        grid-gap: 0.625rem;
    }
    .photo:nth-child(1){
        text-align: center;
    }
    .info:nth-child(2){
        text-align: center;
    }

    .contact-links{
        grid-template-columns: repeat(1, minmax(6.25rem, 1fr));
        grid-gap: 0.625rem;
    }
    .contact-links>a:nth-child(1){
        text-align:center;
    }
    .contact-links>a:nth-child(2){
        text-align: center;
    }
    .info-grid{
        grid-template-columns: repeat(1, minmax(6.25rem, 1fr));
        grid-gap: 0.625rem;
    }
    .info-grid>p:nth-child(1){
        text-align:center;
    }
    .info-grid>p:nth-child(2){
        text-align:center;
        padding: 0rem 3.675rem;
    }
    .intro>p{
        padding: 1.25rem 1.25rem 0rem 1.25rem;
    }
    p{
        font-size: medium;
    }
}
@media only screen and (max-width: 431px) {
    nav{
        height: 4.375rem;
        width: auto;
    }
    #project
    {
        width: 75%;
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-section {
        height:calc(100vh + 34.25rem);
    }
    #project>a {
        height: 13.125rem;
        /* margin: 0 10px; */
    }
    .contact-section {
        height:calc(100vh + 10.75rem);
    }
    .intro>p{
        font-size:x-large;
    }
    
}


@media only screen and (max-width: 415px) {
    #project>a {
        height: 9.375rem;
        /* margin: 0 10px; */
    }
    .contact-section {
        height:calc(100vh + 2.35rem);
    }
    
}
/* @media only screen and (max-width: 1010px) {
    nav{
        height: 100px;
    }
    .projects-section {
        height:calc(100vh + 190px);
    }
    #project>div {
        width:75%;
        height: 150px;
        margin: 5px 10px;
    }
    #project
    {
        width: 75%;
        flex-direction:column;
    flex-wrap:wrap;
    }
} */
/* @media only screen and (max-width: 500px) {
    nav{
        height: 100px;
    }
    .projects-section {
        height:calc(100vh + 80px);
    }
    #project>div {
        width:75%;
        height: 150px;
        margin: 5px 10px;
    }
    #project
    {
        width: 75%;
        flex-direction:column;
    flex-wrap:wrap;
    }
}
@media only screen and (max-width: 450px) {
    .projects-section {
        height:calc(100vh + 600px);
    }
} */
